@font-face {
    font-family: 'Jazzy';
    src: url('./JazzyCroquette Bold.otf') format('opentype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jazzy';
}
html,body{
    height: 100%;
    width: 100%;

}
body{
    background: #8F98DE;
}
.home-page{
    height: 100vh;
    width: 100%;
    border-bottom:3px solid #fff ;
}
.home-page header{
    height: 150px;
    /* background: #3e3ed317; */
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .logo{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}
header .nav{
    /* min-width: 400px; */
    /* max-width: 50vw; */
    width: 50%;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    color: #fff;
}
.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition:color .3s ease-in-out ;
}
.nav ul li a:hover{
    color: #4B4B8A;
    
}
#menu{
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
}
@media (max-width:840px){
    .home-page header{
        padding: 1rem;
    }
    .nav{
        display: none;
    }
}
.home-page .content{
    height: calc(100% - 150px);
    width: 100%;
    /* background: #0000006b; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    gap: 20px;
}
.content .left-part{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1{
        font-size: 5rem;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1.1rem;
    }
    #btn{
        max-width: 170px;
        background: #7D74DA;
        border: none;
        font-size: 1.3rem;
        color: #fff;
        padding: 20px 10px;
        border-radius: 20px;
        border: 5px solid white;
        cursor: pointer;
        display: flex   ;
        justify-content: center;
        align-items: center;
    }
}
.content .right-part{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right-part .img-box{
    height: 100%    ;
    width: 100% ;
    max-height: 500px;
    max-width: 500px;
    /* height: clamp(500px,50vh,200px); */
    /* background: #bfa8a8; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img{
        height: 100%;
        
        aspect-ratio: 1/1;
        border-radius: 47%;
    }
}

@media (max-width:1390px){
    .content .left-part h1{
        font-size: 4rem;
    }
}
@media (max-width:960px){
    .home-page header{
        /* margin-right: 30px; */
        padding: 1rem;
    }
    .nav{
        display: none;
    }
    .home-page .content{
        padding: 1rem;
        flex-direction: c;
    }
    #menu{
        display: block;
    }
    
}
@media (max-width:860px){
    .home-page .content{
        width: 100%;
        flex-direction: column-reverse;
        padding-top: 50px;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    .content .right-part{
        width: auto;
    }
    .right-part .img-box{
        justify-content: center;
        max-height: 40vh;
        
    }
    .content .left-part{
        text-align: center;
        justify-content: flex-start;
        align-items: center;
    }
    .content .left-part h1{
        font-size: 3rem;
        /* padding: 0  ; */
        margin-right: -18px;
    }
    .content .left-part #btn{
        padding: 10px 15px;
        /* margin-top: 10px; */
        /* justify-content: space-a; */
        gap: 5px;
    }
}


/* Page 2 Start */

#page2{
    /* border-top:3px solid #fff ; */
    border-bottom:3px solid #fff ;
    min-height: 100vh;
    width: 100%;
    /* background: #00000012; */
    color: #fff;
    position: relative;text-align: center;
    display: flex;
    flex-direction: column;
}
#page2 h1{
    height: 60px;
    /* line-height: ; */
    /* align-content: center;
    justify-self: center    ;
    justify-items: center; */
}
#page2 .characters{
    /* background: #0000001b; */
    min-height: calc(100vh - 60px)  ;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    /* grid-template-columns:repeat(4,300px);
    grid-template-rows: repeat(2,400px); */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(470px, 1fr));

    
}
.characters .character{
    background: #595da863;
    /* min-height: 470px; */
    margin: 1rem;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    transition: all .5s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor:  pointer;
}
.characters .character:hover{
    background: #9ba1f4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
    transform: translateY(10px);
}
.character .img-head{
    height: 100%;
    width: 100%;
    /* background: #4227274d; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    img{
        height: 300px;
        transition: all .3s ease;
    }
}
.character:hover .img-head img{
    scale: 1.1;
}
/* .img-head img{
    height: 50% ;
    width: 300px; */
/* } */
#page3{
    /* border-top:3px solid #fff ; */
    border-bottom:3px solid #fff ;

    height: 100vh;
    width: 100%;
    /* background: #00000012; */
    color: #fff;
    position: relative;text-align: center;

}